{% extends 'base.html.twig' %}

{% block title %}Les parties de blogs
{% endblock %}

{% block body %}
	<h1>Les parties de blogs</h1>

	<table class="table">
		<thead>
			<tr>

				<th>Blog correspondant
				</th>
				<th>Titrepartie</th>
				<th>Contenupartie</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for partieblog in partieblogs %}
				<tr>
					<td>{{ partieblog.blog.titre }}</td>
					<td>{{ partieblog.titrepartie }}</td>
					<td>{{ partieblog.contenupartie }}</td>
					<td>
						<a href="{{ path('app_partieblog_show', {'id': partieblog.id}) }}">Voir +</a>
						<a href="{{ path('app_partieblog_edit', {'id': partieblog.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">
						Aucune partie de blog trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
