{% extends 'base.html.twig' %}

{% block title %}Nos Tarifs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="{{ asset('css/nos_tarifs.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<section class="nos_tarifs pt-4 text-center">
	<section class="container py-5">
		<div class="border-bottom border-3 border1 pb-5">
			<div class="col-12 w-50 mx-auto">
				<h1 class="fs-2 border-bottom border-3 pb-3 mb-5">Tarifs pour nos forfaits !</h1>
			</div>
			<div class="col-12 w-75 mx-auto">
				<p class="lead">Les tarifs du Refuge sont élaboré par forfaits spécialisés, ces forfaits ont un prix
					dégressifs, avec de nombreux services en plus. Tous les forfaits sont disponible !</p>
			</div>
			<div class="col-12 w-75 mx-auto">
				<p class="lead">N'oubliez jamais, l'investissement sur soi-même est le meilleur des investissement !</p>
			</div>

		</div>
		<div class="col-12 w-75 mx-auto mt-5">
			<p class="lead">Nos forfaits consistent à vous mettre en contact avec un coach sportif spécialisé, qui vous
				encadra, sera présent, à l'écoute, vous motivera pendant toute la durée du forfait.</p>
		</div>

		<div class="col-12 w-50 mx-auto mb-5">
			<p class="lead ">Un bilan téléphonique est nécessaire et offert pour chaque forfait, afin de faire le bilan
				sur votre situations actuelles et vos objectifs et de les atteindre !</p>
		</div>

		<div class="container">
			<div class="row justify-content-center gap-5 gy-5">


				{% for produit in produits %}

				{% if produit.estprogramme == 0 %}


				<div class="card p-2 gx-4 col-md-4 ">
					<div class="p-info px-3 py-3">
						<div>
							<h5 class="mb-0">{{ produit.nom|upper }}</h5>

							<span>Forfait Training #{{ produit.id }}</span>

						</div>
						<div class="p-price d-flex flex-row">

							<h1 class="pt-4">{{produit.prix}}&nbsp;€</h1>
						</div>
						<div>
							<img src="{{ asset('images/produits/logo5_produit.png') }}" height="35px" class="pb-2"
								alt="Logo">
						</div>
					</div>
					<div class="text-center p-image">
						<img src="{{ asset('images/produits/' ~ produit.img) }}" class="rounded" alt="Img Produit">
					</div>
					<div class="p-about pe-5">
						<p>{{ produit.resume }}</p>
					</div>
					<div class="buttons d-flex flex-row gap-3 px-3">
						<a href="{{ path('app_produit', {id: produit.id}) }}" class="btn btn-outline-danger w-100"
							style="border:5px solid #dc3545">Voir +</a>
						<form action="{{ path('add', {id: produit.id}) }}" method="post">
							<input type="hidden" name="quantite" id="quantite" min="1" step="1" placeholder="Quantité"
								style="max-width: 50px;" value="1">
							<button type="submit" class="btn btn-danger w-100">
								<span class="my-auto">
									Acheter
								</span>
							</button>
						</form>
					</div>
				</div>


				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</section>
{# {% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-primary" href="{{ path('app_produit_index') }}">Liste des Produits ADMIN</a>
{% endif %} #}

{% endblock %}