{% extends 'base.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block body %}
	<h1>Blog index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Date</th>
				<th>Image</th>
				<th>Nom</th>
				<th>Categorie</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for blog in blogs %}
				<tr>
					<td>{{ blog.id }}</td>
					<td>{{ blog.titre }}</td>
					<td>{{ blog.description }}</td>
					<td>{{ blog.date ? blog.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ blog.image }}</td>
					<td>{{ blog.auteur.nom }}</td>
					<td>{{ blog.categorie.nom }}</td>
					<td>
						<a href="{{ path('app_blog_show', {'id': blog.id}) }}">Voir +
						</a>
						<span class="mx-2">
							|
						</span>
						<a href="{{ path('app_blog_edit', {'id': blog.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun blog trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_blog_new', {user: app.user.id}) }}">Créer un nouveau blog</a>
{% endblock %}
